# Las indicaciones para publicar el repositorio solo es para el instructor
INSTALL.md

# Las soluciones a los ejercicios solo deben estar disponibles para el instructor
solutions

# La presentación (PPTX) solo debe estar disponibles para el instructor
resources

# Conforme se avance en las lecciones, se debe ir comentando cada línea para que
# este disponible en el repositorio y los asistentes puedan accederlo
#Lección*01*.*
#Lección*02*.*
#Lección*03*.*
#Lección*04*.*
#Lección*05*.*
#Lección*06*.*
Lección*07*.*
Lección*08*.*
Lección*09*.*
Lección*10*.*
Lección*11*.*
